@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
    font-family: 'Inter', sans-serif;
  }
  .color {
    background-color: #333333;
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 2px;
    border: 1px solid #b1a592;
    border-radius: 30px;
  }
  .nav-container button {
    height: 50px;
    border: 1px solid #b1a592;
    border-radius: 25px;
    color: #b1a592;
    padding: 0 50px;
    background-color: transparent;
  }
  .first-button {
    background-color: #323025 !important;
    border: none !important;
    padding: 0 100px !important;
  }
  .hover-btn:hover {
    background-color: #b1a592;
    color: #333333;
  }
  .card-container {
    padding: 10px 20px;
  }
  .item-1 {
    background-color: #dfd6c5;
    border-radius: 30px;
  }
  .item-1 > p,
  .item-2-upper > div > h4,
  .item-4 > div > h4 {
    color: #323025;
    border: 1px solid #323025;
    border-radius: 50px;
    display: inline-block;
    margin: 35px 20px;
    padding: 5px 30px;
  }
  
  .item-1 img{
    height: 700px;
  }
  .item-1 > h2,
  .item-2-upper > div > h2 {
    font-weight: bold;
    color: #333333;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .item-1 > h2 > span,
  .item-2-upper > div > h2 > span {
    text-decoration: underline;
  }
 .delo{
    width: 50%;
 }
  .image {
    margin: 0 20px;
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 20px;
  }
  .item-1,
  .item-2,
  .item-3,
  .item-4 {
    position: relative;
  }
  .last-item {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #333333;
    align-items: center;
  }
  .image > div > img {
    transition: all 0.4s ease-in-out;
    width: 100%;
  }
  .image > div {
    overflow: hidden;
    border-radius: 20px;
  }
  .item-1:hover > .image > div > img,
  .item-2:hover > .item-2-upper > .image > div > img,
  .item-3:hover > .image > div > img {
    transform: scale(1.1);
  }
  .item-2-upper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .item-2 {
    background-color: #8e886d;
    border-radius: 30px;
  }
  .item-2-upper > div > p {
    color: #333333;
    padding: 20px;
    font-size: 20px;
  }
  .last-item > p {
    font-size: 24px;
  }
  .item-3 {
    background: #916e58;
    border-radius: 30px;
  }
  .item-3 > h2 {
    font-size: 36px;
    color: #333333;
    padding: 20px;
    font-weight: bold;
  }
  .item-3 > p {
    font-weight: 400;
    font-size: 20px;
    color: #333333;
    padding: 20px;
  }
  .item-4 {
    background-color: #b1a48e;
    border-radius: 30px;
  }
  .circle-image {
    height: 50px;
    width: 150px;
    padding: 25px;
  }
  .circle-image > div {
    overflow: hidden;
    border-radius: 80px;
  }
  .circle-image > div > img {
    transition: all 0.4s ease-in-out;
    width: 100%;
  }
  .item-4:hover > div > .circle-image > div > img {
    transform: scale(1.1);
  }
  .item-4 > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .item-4 > h2 {
    font-weight: 700;
    font-size: 36px;
    padding: 30px;
  }
  .item-4 > h2 > span {
    text-decoration: underline;
  }
  .item-4 > p {
    font-size: 20px;
    padding: 120px 60px 120px 20px;
  }
  .line > p {
    font-size: 20px;
  }
  .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    margin: 20px;
  }
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  .item-1 {
    grid-row: 1/3;
  }
  .item-2 {
    grid-column: 2/4;
  }
  .item-1 > h2 {
    padding-top: 50px;
    padding-bottom: 50px;
  }


  @media (min-width: 840px) {
    .responsive {
      display: none;
    }
  }
  @media (max-width: 840px) {
    .card-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
    }
    .item-1,
    .item-2 {
      grid-column: 1/3;
    }
    .item-1 > h2 {
      padding-top: 0;
      padding-bottom: 20px;
    }
    .left-half > .hover-btn,
    .right-half {
      display: none;
    }
    .left-half {
      flex-grow: 1;
      display: flex;
    }
    .first-button {
      flex-grow: 1;
    }
  }
  @media (max-width: 540px) {
    .card-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 15px;
    }
    .item-1,
    .item-2 {
      grid-column: 1/2;
    }
    .item-4 > h2 {
      margin-top: 40px;
    }
    .responsive {
      display: flex;
    }
    .menu {
      padding: 0 10px !important;
    }
    .item-2-upper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
    }
  }
  .item-3 > h2 {
    display: inline-block;
    position: relative;
  }
  .item-3 > h2::before {
    content: "";
    position: absolute;
    left: 20px;
    bottom: 0;
    width: 0%;
    height: 5px;
    background-color: #333333;
    transition: width 1s ease-out;
  }
  .item-3:hover > h2::before {
    width: 80%;
  }